<template>
  <div class="page">
    <div class="left-pane">
      <div class="top-box">
        <div class="header">
          <div class="title">
            <span>{{ title }}桥式标定</span>
          </div>
          <!-- 显示表单按钮 -->
          <!-- <el-button class="showBtn" @click="showInteract">显示表单</el-button> -->
          <div class="des">
            <span>标定极性：走廊反极性</span>
            <span>标定时移量：+178ms</span>
            <span>走廊切除时窗：100ms</span>
          </div>
        </div>
        <div ref="interact" class="interact">
          <el-tabs
            default-active-key="1"
            style="height: 210px"
            tab-position="left"
          >
            <el-tab-pane key="1" label="文件选择">
              <!-- 文件选择 -->
              <el-select
                @change="changeTitle($event)"
                v-model="Selectvalue"
                placeholder="选择文件名"
              >
                <el-option
                  v-for="item in Selectoptions"
                  :key="item.value"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </el-tab-pane>
            <el-tab-pane key="2" label="测井曲线">
              <el-divider orientation="left" style="font-size: 12px"
                >测井深度</el-divider
              >

              <label for="depth-scope">
                <span>深度范围(m):</span>
                <input
                  id="depth-scope-lower"
                  size="small"
                  type="text"
                  v-model.number="sizeForm.minDeep"
                  @focus="sizeForm.minDeep = ''"
                />&nbsp;-&nbsp;
                <input
                  id="depth-scope-super"
                  size="small"
                  type="text"
                  v-model.number="sizeForm.maxDeep"
                  @focus="sizeForm.maxDeep = ''"
                />
              </label>
              <el-divider orientation="left" style="font-size: 12px">
                曲线类型
                <select v-model="value" @click="changeLineType">
                  <option
                    v-for="(item, index) in options"
                    :key="index"
                    :value="item.value"
                  >
                    {{ item.value }}
                  </option>
                </select>
              </el-divider>
              <label for="AC-scope">
                <span>范围(m):</span>
                <input
                  id="AC-scope-lower"
                  size="small"
                  type="text"
                  v-model="sizeForm.minLineDeep"
                />&nbsp;-&nbsp;
                <input
                  id="AC-scope-super"
                  size="small"
                  type="text"
                  v-model="sizeForm.maxLineDeep"
                />
              </label>
              <label for="AC-line-color" style="display: inline">
                <span>颜色:</span>
                <input
                  id="AC-line-color"
                  size="small"
                  type="color"
                  v-model="color"
                />
              </label>
              <label for="line-width">
                <span>线宽:</span>
                <input
                  id="line-width"
                  size="small"
                  type="number"
                  min="1"
                  max="5"
                  v-model="width"
                />
              </label>
              <el-button
                type="primary"
                style="font-size: 12px"
                @click="onSubmit"
              >
                保存参数
              </el-button>
            </el-tab-pane>
            <el-tab-pane key="3" label="剖面参数">
              <el-divider orientation="left" style="font-size: 12px">
                <select>
                  <option value="volvo">地面地震数据</option>
                  <option value="saab">滤波前</option>
                  <option value="opel">滤波后</option>
                  <option value="audi">NMO数据</option>
                </select>
              </el-divider>
              <label for="line-width">
                <span>振幅:</span>
                <input id="line-width" size="small" type="text" />
              </label>
              <br />
              <label for="VSP-scope">
                <span>X轴范围(m):</span>
                <input
                  id="VSP-scope-lower"
                  size="small"
                  type="text"
                />&nbsp;-&nbsp;
                <input id="VSP-scope-super" size="small" type="text" />
              </label>
              <br />
              <label for="VSP-scope">
                <span>Y轴范围(m):</span>
                <input
                  id="VSP-scope-lower"
                  size="small"
                  type="text"
                />&nbsp;-&nbsp;
                <input id="VSP-scope-super" size="small" type="text" />
              </label>

              <!-- 颜色表单 -->
              <div class="block">
                <span class="demonstration">选择颜色</span>
                <el-color-picker
                  @change="getColor"
                  v-model="color1"
                ></el-color-picker>
              </div>
              <el-button
                @click="addColor"
                style="float: left; margin-left: 99px"
                >确定添加</el-button
              >
            </el-tab-pane>
            <el-tab-pane key="4" label="标定参数">
              <el-divider orientation="left" style="font-size: 12px"
                >层位标定线</el-divider
              >
              <label for="line-width">
                <span>字体大小:</span>
                <input
                  id="line-width"
                  size="small"
                  type="number"
                  min="10"
                  max="30"
                />
              </label>
              <label for="line-width">
                <span>背景颜色:</span>
                <input id="line-width" size="small" type="color" />
              </label>
              <br />
              <label for="line-width">
                <span>线条类型:</span>
                <select v-model="selectLineValue" @change="selectChange">
                  <option
                    v-for="(item, index) in selectLine"
                    :key="index"
                    :value="item.value"
                  >
                    {{ item.value }}
                  </option>
                </select>
              </label>
              <label for="line-width">
                <span>线条颜色:</span>
                <input
                  id="line-width"
                  size="small"
                  type="color"
                  v-model="levelColor"
                />
              </label>

              <el-divider orientation="left" style="font-size: 12px"
                >初至线</el-divider
              >
              <!-- <el-checkbox v-model="checked"></el-checkbox> -->
              <label for="line-width">
                <span>线条颜色:</span>
                <input
                  id="line-width"
                  size="small"
                  type="color"
                  v-model="firstLineColor"
                />
              </label>
              <label for="line-width">
                <span>线条宽度:</span>
                <input
                  id="line-width"
                  size="small"
                  type="number"
                  min="1"
                  max="5"
                  v-model="LineWidth"
                />
              </label>
              <label for="line-width">
                <span>线条类型:</span>
                <select
                  v-model="selectFirstLineValue"
                  @changeFirstLine="selectFirstChange"
                >
                  <option
                    v-for="(item, index) in selectLine"
                    :key="index"
                    :value="item.value"
                  >
                    {{ item.value }}
                  </option>
                  <!-- <option value="saab">虚线</option> -->
                  <!-- <option :value="item.value"></option> -->
                </select>
              </label>
              <!-- <el-button
                type="primary"
                style="font-size: 12px"
                @click="onSubmitKeep"
              >
                保存参数
              </el-button> -->
            </el-tab-pane>
            <el-tab-pane key="5" label="走廊参数">
              <el-divider orientation="left" style="font-size: 12px"
                >走廊切除</el-divider
              >

              <label for="line-width">
                <span>走廊切除时窗:</span>
                <input id="line-width" size="small" type="text" />
              </label>
              <label for="line-width">
                <span>VSP深度消除值:</span>
                <input id="line-width" size="small" type="text" />
              </label>
              <el-divider orientation="left" style="font-size: 12px"
                >走廊切线</el-divider
              >

              <label for="line-width">
                <span>线条颜色:</span>
                <input id="line-width" size="small" type="color" v-model="passAgeColor"/>
              </label>
              <label for="line-width">
                <span>线条宽度:</span>
                <input
                  id="line-width"
                  size="small"
                  type="number"
                  min="1"
                  max="5"
                  v-model="passAgeWidth"
                />
              </label>
              <label for="line-width">
                <span>线条类型:</span>
                <select v-model="passAgeValue" @change="setPassAgeValue">
                   <option
                    v-for="(item, index) in selectLine"
                    :key="index"
                    :value="item.value"
                  >
                    {{ item.value }}
                  </option>
                </select>
              </label>
            </el-tab-pane>
          </el-tabs>
        </div>
        <div style="display: none" ref="otherinteract" class="interact">
          <h1 style="color: red; margin: 50px">请按快捷键s</h1>
        </div>
      </div>
      <div class="bottom-box">
        <div class="left logChart">
          <div class="log" id="GRLogChart"></div>
        </div>
        <div class="mid logChart">
          <div class="log" id="DenLogChart"></div>
        </div>
        <div class="right logChart">
          <div class="log" id="VspLogChart"></div>
        </div>
      </div>
    </div>
    <div class="right-pane">
      <div class="top-box">
        <div class="wiggle" id="originalWiggleChart">地震数据</div>
      </div>
      <div class="mid-up-box">
        <div class="wiggle" id="beforeFilterWiggleChart">滤波前数据</div>
      </div>
      <div class="mid-down-box">
        <div class="wiggle" id="afterFilterWiggleChart">滤波后数据</div>
      </div>
      <div class="bottom-box">
        <div class="wiggle" id="corridorWiggleChart">NMO数据</div>
      </div>
    </div>
    <div class="demarcate">
      <Demarcate
        :minDeep="sizeForm.minDeep"
        :maxDeep="sizeForm.maxDeep"
        :color="levelColor"
        :firstLineColor="firstLineColor"
        :directory="demarcateComponent"
        :width="LineWidth"
        @change="selectChange"
        @changeFirstLine="selectFirstChange"
        :selectLineValue="selectLineValue"
        :selectFirstLineValue="selectFirstLineValue"
      />
    </div>
    <div class="passage">
      <Passage 
      :directory="passageComponent"
      :minDeep="sizeForm.minDeep" 
      :maxDeep="sizeForm.maxDeep"
      :color="passAgeColor"
      :width="passAgeWidth"
      :passAgeValue="passAgeValue"
      @change="setPassAgeValue"
       />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Demarcate from "./Demarcate.vue";
import Passage from "./Passage.vue";
export default {
  components: {
    Demarcate,
    Passage,
  },
  provide: {
    // store,
  },
  name: "Index",
  data() {
    return {
      checked: true,
      //文件名称
      title: "中古16",
      //判断修改的线
      vspData: [],
      flag: "",
      lineName: "曲线类型",
      data: [],
      //设置线宽的属性
      width: "",
      sizeForm: {
        //gr的最大限制
        GrMinDeep: 0,
        GrMaxDeep: 150,
        //den的最大限制
        DenMinDeep: 2,
        DenMaxDeep: 2.8,
        //ac的最大限制
        AcMinDeep: 2000,
        AcMaxDeep: 6000,
        // //vsp的最大限制
        // VspMinDeep:2000,
        // VspMaxDeep:6000,
        //深度绘制
        minDeep: 1000,
        maxDeep: 6000,
        //gr线属性
        GrColor: "#42F346",
        GrLineWidth: null,
        //den线属性
        // 66,243,70
        // 234,15,16
        DenColor: "#EA0F10",
        DenLineWidth: null,
        //ac线属性
        // 9,7,229
        AcColor: "#0907E5",
        AcLineWidth: null,

        //dom不同曲线值得设置
        minLineDeep: null,
        maxLineDeep: null,

        //vsp的线宽
        VspLineWidth: null,
        //vsp的颜色
        // 16,241,251
        VspColor: "#10F1FB",
      },
      color: "",
      levelColor: "",
      firstLineColor: "",
      passAgeColor:"",
      passAgeWidth:"",
      passAgeValue:"",
      LineWidth: "",
      options: [
        {
          value: "GR",
        },
        {
          value: "DEN",
        },
        {
          value: "AC",
        },
        {
          value: "VSP",
        },
      ],
      value: "",
      show: true,
      //获取selected
      Selectoptions: [
        {
          value: "中古16",
        },
        {
          value: "可深",
        },
        {
          value: "孤寒",
        },
      ],
      Selectvalue: "",
      color1: null,
      colorList: [],
      demarcateComponent: "",
      FirstLineComponent: "",
      passageComponent:"",
      selectLineValue: "",
      selectFirstLineValue: "",
      selectLine: [
        {
          value: "实线",
        },
        {
          value: "虚线",
        },
      ],
      // showCanvas:false,
    };
  },

  methods: {
    //获取线条类型
    selectChange() {
      console.log(this.selectLineValue);
    },
    selectFirstChange() {
      console.log(this.selectFirstLineChange);
    },
    setPassAgeValue(){
      console.log(this.passAgeValue);
    },
    // 获取颜色
    getColor() {
      console.log(this.color1);
    },
    //添加颜色
    addColor() {
      this.colorList.push(this.color1);
      console.log(this.colorList);
    },
    //绘制GR
    drawGRLine() {
      var myChart = this.$echarts.init(document.getElementById("GRLogChart"));
      var dataArray = [];
      for (var i = 0; i < 1000; i++) {
        var array = [];
        //   array.push(math.random()*100)
        for (var j = 0; j < 1; j++) {
          var xnum = this.getRndInteger(50, 100);
          array.push(xnum);
        }
        for (var z = 0; z < 1; z++) {
          var ynum = this.getRndInteger(1000, 6000);
          array.push(ynum);
        }
        dataArray.push(array);
      }

      console.log(dataArray);
      this.data = dataArray;
      var option = {
        grid: {
          top: "10%",
          left: "20%",
          right: "5%",
          bottom: "5%",
        },
        legend: {
          //icon更改图例的形状
          data: [{ name: "GR", icon: "none" }],
          bottom: -8,
          left: "35%",
          textStyle: {
            fontSize: 20,
            color: "green",
          },
        },
        xAxis: {
          position: "top",
          interval: 50,
          min: this.sizeForm.GrMinDeep,
          max: this.sizeForm.GrMaxDeep,
          boundaryGap: true,
          axisLabel: {
            textStyle: {
              color: "#000",
              fontWeight: "bloder",
            },
          },
        },
        yAxis: {
          max: this.sizeForm.maxDeep,
          min: this.sizeForm.minDeep,
          //反转数轴
          inverse: true,
          axisLabel: {
            textStyle: {
              color: "#000",
              fontWeight: "bolder",
            },
          },
        },
        series: [
          {
            name: "GR",
            data: this.data,
            type: "line",
            lineStyle: {
              color: this.sizeForm.GrColor,
              width: this.sizeForm.GrLineWidth,
            },
            symbol: "none",
          },
        ],
      };
      myChart.setOption(option);
      //   myChart_den.setOption(option);
      //   myChart_ac.setOption(option);
    },
    //绘制DEN
    draDENLine() {
      //   var echarts = require('echarts');
      //   var myChart = this.$echarts.init(document.getElementById("myChart_GR"));
      var myChart_den = this.$echarts.init(
        document.getElementById("DenLogChart")
      );
      //   var myChart_ac = this.$echarts.init(
      //     document.getElementById("myChart_AC")
      //   );

      var dataArray = [];
      for (var i = 0; i < 1000; i++) {
        var array = [];
        //   array.push(math.random()*100)
        for (var j = 0; j < 1; j++) {
          var xnum = this.getRndInteger(2, 2.3);
          array.push(xnum);
        }
        for (var z = 0; z < 1; z++) {
          var ynum = this.getRndInteger(1000, 6000);
          array.push(ynum);
        }
        dataArray.push(array);
      }

      //   console.log(dataArray);
      this.data = dataArray;
      var option = {
        grid: {
          top: "10%",
          left: "5%",
          right: "5%",
          bottom: "5%",
        },
        legend: {
          //icon更改图例的形状
          data: [{ name: "DEN", icon: "none" }],
          bottom: -8,
          left: "20%",
          textStyle: {
            fontSize: 20,
            color: "red",
          },
        },
        xAxis: {
          position: "top",
          interval: 0.2,
          min: this.sizeForm.DenMinDeep,
          max: this.sizeForm.DenMaxDeep,
          axisLabel: {
            textStyle: {
              color: "#000",
              fontWeight: "bolder",
            },
          },
        },
        yAxis: {
          max: this.sizeForm.maxDeep,
          min: this.sizeForm.minDeep,
          inverse: true,
          //显示坐标的值
          axisLabel: {
            show: false,
          },
          //显示坐标的刻度
          axisTick: {
            show: false,
          },
          axisLine: {
            show: true,
          },
        },
        series: [
          {
            name: "DEN",
            data: this.data,
            type: "line",
            lineStyle: {
              color: this.sizeForm.DenColor,
              width: this.sizeForm.DenLineWidth,
            },
            symbol: "none",
          },
        ],
      };
      //   myChart.setOption(option);
      myChart_den.setOption(option);
      //   myChart_ac.setOption(option);
    },
    //绘制AC
    drawACLine() {
      var myChart_ac = this.$echarts.init(
        document.getElementById("VspLogChart")
      );
      var dataArray = [];
      for (var i = 0; i < 1000; i++) {
        var array = [];
        //   array.push(math.random()*100)
        for (var j = 0; j < 1; j++) {
          var xnum = this.getRndInteger(2000, 5000);
          array.push(xnum);
        }
        for (var z = 0; z < 1; z++) {
          var ynum = this.getRndInteger(1000, 6000);
          array.push(ynum);
        }
        dataArray.push(array);
      }

      //   console.log(dataArray);
      // ac的点集合
      this.data = dataArray;
      //vsp的点集合
      this.vspData = dataArray;
      var option = {
        grid: {
          top: "10%",
          left: "8%",
          right: "8%",
          bottom: "5%",
        },
        legend: {
          //icon更改图例的形状
          data: [
            { name: "AC", icon: "none" },
            { name: "VSP", icon: "none" },
          ],
          bottom: -8,
          left: "10%",
          textStyle: {
            fontSize: 20,
            color: "blue",
          },
        },
        xAxis: {
          position: "top",
          //以多少为间距
          interval: 2000,
          min: this.sizeForm.AcMinDeep,
          max: this.sizeForm.AcMaxDeep,
          axisLabel: {
            color: "#000",
            fontWeight: "bolder",
          },
        },
        yAxis: {
          max: this.sizeForm.maxDeep,
          min: this.sizeForm.minDeep,
          inverse: true,
          //显示坐标的值
          axisLabel: {
            show: false,
          },
          //显示坐标的刻度
          axisTick: {
            show: false,
          },
          axisLine: {
            show: true,
          },
        },
        series: [
          {
            name: "AC",
            data: this.data,
            type: "line",
            lineStyle: {
              color: this.sizeForm.AcColor,
              width: this.sizeForm.AcLineWidth,
            },
            symbol: "none",
          },
          {
            name: "VSP",
            data: this.vspData,
            type: "line",
            lineStyle: {
              color: this.sizeForm.VspColor,

              width: this.sizeForm.VspLineWidth,
            },
            symbol: "none",
          },
        ],
      };
      //   myChart.setOption(option);
      myChart_ac.setOption(option);
    },
    //绘制originalWiggleChart
    drawOriginalWiggleChart() {
      var originalWiggleChart = this.$echarts.init(
        document.getElementById("originalWiggleChart")
      );
      var option = {
        //设置北京图片
        graphic: [
          {
            type: "image",
            style: {
              image: "http://localhost:8080/earth.png",
              x: 25,
              y: 28,
              width: 1275,
              height: 220,
            },
          },
        ],
        grid: {
          top: "10%",
          left: "2%",
          right: "3%",
          bottom: "5%",
        },
        xAxis: {
          type: "value",
          //   data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
          position: "top",
          min: 1500,
          max: 4500,
          //以多少为间距
          interval: 500,
          axisLabel: {
            textStyle: {
              color: "#000000",
              fontWeight: 800,
              fontSize: "12",
            },
          },
        },
        yAxis: {
          //   type: "value",
          position: "right",
          min: 20,
          max: 100,
          interval: 20,
          inverse: true,
          axisLabel: {
            textStyle: {
              color: "#000000",
              fontWeight: 800,
              fontSize: "12",
            },
          },
        },

        series: [
          {
            data: [
              [1500, 20],
              [2300, 40],
              [2204, 46],
              [2180, 60],
              [1350, 60],
              [1470, 80],
              [2600, 100],
            ],
            type: "line",
          },
        ],
      };
      originalWiggleChart.setOption(option);
    },
    //绘制滤波前数据
    drawBeforeFilterWiggleChart() {
      var beforeFilterWiggleChart = this.$echarts.init(
        document.getElementById("beforeFilterWiggleChart")
      );
      var option = {
        //设置北京图片
        graphic: [
          {
            type: "image",
            style: {
              image: "http://localhost:8080/earth1.png",
              x: 25,
              y: 0,
              width: 1275,
              height: 258,
            },
          },
        ],
        grid: {
          top: "0",
          left: "0",
          right: "0",
          bottom: "0",
        },
        xAxis: {
          type: "category",
          data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
        },
        yAxis: {
          splitLine: { show: false }, //去除网格线
          type: "value",
        },

        series: [
          {
            data: [150, 230, 224, 218, 135, 147, 260],
            type: "line",
          },
        ],
      };
      beforeFilterWiggleChart.setOption(option);
    },
    //绘制滤波后数据
    drawAfterFilterWiggleChart() {
      var beforeFilterWiggleChart = this.$echarts.init(
        document.getElementById("afterFilterWiggleChart")
      );
      var option = {
        //设置北京图片
        graphic: [
          {
            type: "image",
            style: {
              image: "http://localhost:8080/earth1.png",
              x: 25,
              y: 0,
              width: 1275,
              height: 258,
            },
          },
        ],
        grid: {
          top: "0",
          left: "0",
          right: "0",
          bottom: "0",
        },
        xAxis: {
          type: "category",
          data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
        },
        yAxis: {
          type: "value",
          splitLine: { show: false }, //去除网格线
        },

        series: [
          {
            data: [150, 230, 224, 218, 135, 147, 260],
            type: "line",
          },
        ],
      };
      beforeFilterWiggleChart.setOption(option);
    },
    //绘制NMO曲线
    drawCorridorWiggleChart() {
      var corridorWiggleChart = this.$echarts.init(
        document.getElementById("corridorWiggleChart")
      );
      var option = {
        //设置北京图片
        graphic: [
          {
            type: "image",
            style: {
              image: "http://localhost:8080/earth2.png",
              x: 25,
              y: 0,
              width: 1275,
              height: 480,
            },
          },
        ],
        grid: {
          top: "0%",
          left: "5%",
          right: "3%",
          bottom: "5%",
        },
        xAxis: {
          type: "value",
          min: 1500,
          max: 4500,
          axisLabel: {
            textStyle: {
              color: "#000000",
              fontWeight: 800,
              fontSize: "18",
            },
          },
        },
        yAxis: {
          type: "value",
          min: 1000,
          max: 6000,
          position: "right",
          inverse: true,
          axisLabel: {
            textStyle: {
              color: "#000000",
              fontWeight: 800,
              fontSize: "12",
            },
          },
        },

        series: [
          {
            data: [
              [1500, 1000],
              [2300, 2000],
              [2240, 3000],
              [2180, 4000],
              [1350, 5000],
              [1470, 2000],
              [2600, 5000],
            ],
            type: "line",
          },
        ],
      };
      corridorWiggleChart.setOption(option);
    },
    //改变曲线类型
    changeLineType(event) {
      //   if
      console.log(event);
      if (event.target.value == "GR") {
        this.flag = "gr";
        console.log("修改gr的数值");
        // this.color = this.sizeForm.GrColor;
        // console.log(this.sizeForm.GrColor);
        // this.sizeForm.minDeep = this.sizeForm.GrMinDeep;
        // this.sizeForm.maxDeep = this.sizeForm.GrMaxDeep;
        // alert("修改gr的值");

        //   this.drawGRLine(GrMinDeep,GrMaxDeep,);
        //   this.GrMinDeep =
      } else if (event.target.value == "DEN") {
        this.flag = "den";
        console.log("修改den的数值");
        // this.sizeForm.minDeep = this.sizeForm.DenMinDeep;
        // this.sizeForm.maxDeep = this.sizeForm.DenMaxDeep;
        // alert("修改den的值");
      } else if (event.target.value == "AC") {
        this.flag = "ac";
        // this.sizeForm.minDeep = this.sizeForm.AcMinDeep;
        // this.sizeForm.max = this.sizeForm.AcMaxDeep;
        console.log("修改AC的数值");
        // alert("修改av的值");
      } else if (event.target.value == "VSP") {
        this.flag = "vsp";
        console.log("修改vsp的值");
      }
      // console.log(index);
    },
    //提交事件
    onSubmit() {
      if (this.flag == "gr") {
        this.sizeForm.GrMinDeep = this.sizeForm.minLineDeep;
        this.sizeForm.GrMaxDeep = this.sizeForm.maxLineDeep;
        this.sizeForm.GrColor = this.color;
        this.sizeForm.GrLineWidth = this.width;
      }
      if (this.flag == "den") {
        this.sizeForm.DenMinDeep = this.sizeForm.minLineDeep;
        this.sizeForm.DenMaxDeep = this.sizeForm.maxLineDeep;
        this.sizeForm.DenColor = this.color;
        this.sizeForm.DenLineWidth = this.width;
      }
      if (this.flag == "ac") {
        this.sizeForm.AcMinDeep = this.sizeForm.minLineDeep;
        this.sizeForm.AcMaxDeep = this.sizeForm.maxLineDeep;
        this.sizeForm.AcColor = this.color;
        this.sizeForm.AcLineWidth = this.width;
      }
      if (this.flag == "vsp") {
        this.sizeForm.AcMinDeep = this.sizeForm.minLineDeep;
        this.sizeForm.AcMaxDeep = this.sizeForm.maxLineDeep;
        this.sizeForm.VspColor = this.color;
        this.sizeForm.VspLineWidth = this.width;
      }
      this.drawGRLine();
      this.draDENLine();
      this.drawACLine();
      //用cookie存储表单参数

      //存储minDeep，maxDeep
      this.$cookies.set("minDeep", this.sizeForm.minDeep);
      this.$cookies.set("maxDeep", this.sizeForm.maxDeep);
      //存储下拉元素
      this.$cookies.set("option", this.options.value);
      //存储值范围
      this.$cookies.set("minLineDeep", this.sizeForm.minLineDeep);
      this.$cookies.set("minLineDeep", this.sizeForm.maxLineDeep);
      //存储线条颜色
      this.$cookies.set("color", this.color);
      //存储线条宽度
      this.$cookies.set("lineWidth", this.width);
      console.log(this.sizeForm.GrColor);
    },
    //获取max - min之间的随机数
    getRndInteger(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    //显示表单控件
    // showInteract() {
    //   this.show = !this.show;
    // },
    //显示文件姓名
    changeTitle(e) {
      this.title = e;
    },
    //监听用户的按键s
    listenUserKey() {
      var that = this;
      var showTable = true;
      document.onkeydown = function (e) {
        // console.log(e);
        // console.log(this.show);

        if (e.key === "s") {
          var interact = that.$refs.interact;
          var otherinteract = that.$refs.otherinteract;
          //  interval
          if (showTable == true) {
            interact.style.display = "none";
            otherinteract.style.display = "block";
            showTable = false;
          } else if (showTable == false) {
            interact.style.display = "block";
            otherinteract.style.display = "none";
            showTable = true;
          }
          console.log(showTable);
          // console.log(interact);
          //   console.log([that.$refs.interact]);
          // console.log(this.show);
          //   this.show = !this.show;
        }
      };
    },
    //提交标定参数
    // onSubmitKeep() {
    //   // this.showCanvas =true;
    //   console.log(this.levelColor);

    // },
    //axios获取页面加载数据
    async getAllFile() {
      const { data: res } = await axios.get("file/getAllFile");
      console.log(res);
    },
  },

  mounted() {
    this.drawGRLine(
      this.GrMaxDeep,
      this.GrMinDeep,
      this.GrColor,
      this.GrLineWidth
    );
    this.draDENLine(
      this.DenMaxDeep,
      this.DenMinDeep,
      this.DenColor,
      this.DenLineWidth
    );
    this.drawACLine(
      this.AcMaxDeep,
      this.AcMinDeep,
      this.AcColor,
      this.AcLineWidth
    );
    this.drawOriginalWiggleChart();
    this.drawBeforeFilterWiggleChart();
    this.drawAfterFilterWiggleChart();
    this.drawCorridorWiggleChart();
    this.listenUserKey();
    this.getAllFile();
  },

  created() {},
};
</script>

<style scoped>
/*布局*/
.page {
  width: 100%;
  height: 100%;
  min-width: 1300px;
  min-height: 680px;
}
.left-pane {
  float: left;
  width: 30%;
  height: 100%;
  border: 1px solid #000;
}
.left-pane .top-box {
  width: 100%;
  height: 40%;
  border: 1px solid #000;
}
.left-pane .top-box .header {
  width: 100%;
  height: 60px;
  border: 1px solid #000;
}
.left-pane .top-box .header .title {
  float: left;
  padding-left: 10px;
  line-height: 60px;
  text-align: left;
  font-size: 25px;
  font-weight: bolder;
}
.left-pane .top-box .header .des {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  text-align: left;
  font-size: 12px;
  color: #1890ff;
}

.left-pane .top-box .header .des span {
  display: block;
}
.left-pane .top-box .interact {
  display: block;
  padding-top: 10px;
  width: 100%;
  height: 225px;
  border: 1px solid #000;
}
.left-pane .top-box .interact .ant-tabs-tab {
  text-align: center;
}
.ant-tabs .ant-tabs-left-content {
  padding-left: 0;
  overflow: auto;
}
.ant-tabs-content {
  padding-left: 0;

  overflow: auto;
}
.left-pane .top-box .interact input {
  width: 50px;
  height: 20px;
  border: 1px solid #ccc;
  font-size: 12px;
  border-radius: 5px;
  outline-color: #1890ff;
}
.left-pane .top-box .interact select {
  border: 1px solid #ccc;
  font-size: 12px;
  outline-color: #1890ff;
}

.left-pane .top-box .interact input[type="color"] {
  width: 20px;
}
.left-pane .top-box .interact input[type="number"] {
  width: 35px;
}

.left-pane .top-box .interact label {
  line-height: 30px;
  text-align: left;
  font-size: 12px;
  margin-right: 2px;
}
.ant-divider-with-text-left {
  margin: 5px 0;
}
.left-pane .bottom-box {
  width: 100%;
  height: 500px;
  border: 1px solid #000;
}
.left-pane .bottom-box .logChart {
  float: left;
  height: 100%;
  border: 1px solid #000;
}
.left-pane .bottom-box .left {
  /* width: 40%; */
  width: 227px;
}
.left-pane .bottom-box .mid,
.left-pane .bottom-box .right {
  /* width: 30%; */
  width: 169px;
}
.right-pane {
  float: left;
  width: 70%;
  height: 100%;
  border: 1px solid #000;
}
.right-pane .top-box {
  width: 100%;
  height: 220px;
  border: 1px solid #000;
}
.right-pane .mid-up-box {
  width: 100%;
  height: 34px;
  border: 1px solid #000;
}
.right-pane .mid-down-box {
  width: 100%;
  height: 34px;
  border: 1px solid #000;
}
.right-pane .bottom-box {
  width: 100%;
  height: 499px;
  border: 1px solid #000;
}
.log {
  width: 100%;
  height: 100%;
}

.showBtn {
  float: left;
  margin: 15px;
}
.el-divider--horizontal {
  margin: 10px 0px;
}
#originalWiggleChart,
#beforeFilterWiggleChart,
#afterFilterWiggleChart,
#corridorWiggleChart {
  width: 100%;
  height: 100%;
}
.demarcate {
  position: absolute;
  width: 95.5%;
  height: 450px;
  top: 340px;
  left: 47px;
}
</style>