<template>
  <div class="practice-html5">
    <div>
      <canvas ref="canvasTest" id="canvasTest" />
    </div>
    <div>
      <canvas ref="canvasFirst" id="canvasFirst"></canvas>
    </div>
    <el-button
      class="btn-keep"
      type="primary"
      style="font-size: 12px"
      @click="onSubmitKeep"
    >
      保存参数
    </el-button>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  props: [
    "directory",
    "minDeep",
    "maxDeep",
    "color",
    "selectLineValue",
    "firstLineColor",
    "selectFirstLineValue",
    "width",
  ],
  data() {
    return {
      lineColor: "#cd8888",
      isShow: false,
      FirstlineColor: "#cd8888",
    };
  },
  mounted() {
    this.showCanvasLine = this.showCanvas;
    this.showFirstLine = this.showFirst;
    console.log(this.minDeep);
    console.log(this.maxDeep);
    console.log(this.width);
    console.log(((3000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000);
  },
  methods: {
    canvasDrawCol(optype) {},
    onSubmitKeep() {
      axios.get(
        "http://192.168.31.183:8080/seismic/findPicTime?dataId="+"qwe",
        // {dataId:"hsui"},
        { timeout: 80000 },
      ).then((res)=>{
        console.log(res);
      })
      //绘制层位标定线，实线
      // if (this.selectLineValue == "实线") {
      //   this.showCanvas = true;
      //   this.lineColor = this.color;
      //   if (this.showCanvas) {
      //     this.canvasDrawCol(this.color);
      //     var myCanvas = this.$refs.canvasTest;
      //     var canvasSet = myCanvas.getContext("2d");
      //     console.log(this.color);
      //     myCanvas.width = 1920;
      //     myCanvas.height = 500;
      //     myCanvas.style.border = "1px solid #000";
      //     canvasSet.beginPath();
      //     canvasSet.moveTo(
      //       0,
      //       ((3000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000
      //     );
      //     canvasSet.lineTo(
      //       1500,
      //       ((3000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000
      //     );
      //     canvasSet.strokeStyle = this.lineColor;
      //     canvasSet.stroke();
      //     canvasSet.beginPath();
      //     canvasSet.moveTo(
      //       1500,
      //       ((3000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000
      //     );
      //     canvasSet.lineTo(1500, 0);
      //     canvasSet.strokeStyle = this.lineColor;
      //     canvasSet.stroke();
      //   }
      // } else {
      //   //绘制虚线
      //   this.showCanvas = true;
      //   this.lineColor = this.color;
      //   if (this.showCanvas) {
      //     this.canvasDrawCol(this.color);
      //     var myCanvas = this.$refs.canvasTest;
      //     var canvasSet = myCanvas.getContext("2d");
      //     myCanvas.width = 1920;
      //     myCanvas.height = 500;
      //     myCanvas.style.border = "1px solid #000";
      //     canvasSet.setLineDash([10, 8]);
      //     canvasSet.beginPath();
      //     canvasSet.moveTo(
      //       0,
      //       ((3000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000
      //     );
      //     canvasSet.lineTo(
      //       1500,
      //       ((3000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000
      //     );
      //     canvasSet.strokeStyle = this.lineColor;
      //     canvasSet.stroke();
      //     canvasSet.beginPath();
      //     canvasSet.moveTo(
      //       1500,
      //       ((3000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000
      //     );
      //     canvasSet.lineTo(1500, 0);
      //     canvasSet.strokeStyle = this.lineColor;
      //     canvasSet.stroke();
      //   }
      // }

      //绘制初至线,实线
      // if (this.selectFirstLineValue == "实线") {
      //   this.showFirst = true;
      //   this.FirstlineColor = this.firstLineColor;
      //   if (this.showFirst) {
      //     this.canvasDrawCol(this.firstLineColor);
      //     var myCanvas = this.$refs.canvasFirst;
      //     var canvasSetFirst = myCanvas.getContext("2d");
      //     myCanvas.width = 1920;
      //     myCanvas.height = 500;
      //     myCanvas.style.border = "1px solid #000";
      //     canvasSetFirst.beginPath();
      //     canvasSetFirst.moveTo(0, 0);
      //     //实现曲线
      //     canvasSetFirst.quadraticCurveTo(
      //       2800,
      //       ((1000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000,
      //       2500,
      //       this.maxDeep
      //     );
      //     canvasSetFirst.strokeStyle = this.FirstlineColor;
      //     canvasSetFirst.LineWidth = this.width;
      //     canvasSetFirst.stroke();
      //   }
      // } else {
      //   //绘制虚线
      //   this.showFirst = true;
      //   this.FirstlineColor = this.firstLineColor;
      //   if (this.showFirst) {
      //     this.canvasDrawCol(this.firstLineColor);
      //     var myCanvas = this.$refs.canvasFirst;
      //     var canvasSetFirst = myCanvas.getContext("2d");
      //     myCanvas.width = 1920;
      //     myCanvas.height = 500;
      //     myCanvas.style.border = "1px solid #000";
      //     canvasSetFirst.beginPath();
      //     canvasSetFirst.setLineDash([10, 8]);
      //     canvasSetFirst.moveTo(0, 0);
      //     //实现曲线
      //     canvasSetFirst.quadraticCurveTo(
      //       2800,
      //       ((1000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000,
      //       2500,
      //       this.maxDeep
      //     );
      //     canvasSetFirst.strokeStyle = this.FirstlineColor;
      //     canvasSetFirst.lineWidth = this.width;
      //     canvasSetFirst.stroke();
      //   }
      // }
    },
  },
  updated() {
    console.log(this.color);
    this.lineColor = this.color;

    console.log(this.lineColor);
    this.canvasDrawCol(this.color);
  },
};
</script>

<style scoped>
.practice-html5 {
  width: 100%;
  height: 450px;
}
#canvasTest {
  width: 100%;
  height: 450px;
  border: 1px solid black;
}
.btn-keep {
  /* position: absolute; */
  margin-left: 400px;
  margin-top: -1100px;
}
#canvasFirst {
  position: absolute;
  width: 75%;
  height: 500px;
  top: -50px;
  left: 530px;
}
</style>