<template>
  <div class="home">
    <el-container>
      <el-header>Header</el-header>
      <el-container>
        <el-aside width="300px">
          <div id="app">
            <div class="containerTree">
              <Tree :directory="treecomponent" />
            </div>
            <div
              id="menu"
              v-show="menuVisible"
              @mouseleave="menuVisible = !menuVisible"
            >
              <el-card class="right-mouse">
                <div class="text item">
                  <el-link :underline="false" @click="creat">新建文件</el-link>
                </div>
                <div class="text item">
                  <el-link :underline="false" @click="handleLeadWell()"
                    >导入测井数据</el-link
                  >
                </div>
                <div class="text item">
                  <el-link :underline="false" @click="handleParams()"
                    >导入地震数据</el-link
                  >
                </div>
                <div class="text item">
                  <el-link :underline="false" @click="handleLeadModell()"
                    >导入智能建模数据</el-link
                  >
                </div>
                <div class="text item">
                  <el-link :underline="false" @click="change">修改</el-link>
                </div>
                <div class="text item">
                  <el-link :underline="false" @click="del">删除</el-link>
                </div>
              </el-card>
            </div>

            <el-dialog
              class="well-bullet"
              title="导入测井数据"
              :visible.sync="dialogFormVisible"
              width="80%"
            >
              <div class="containerWell">
                <Well :directory="wellcomponent" />
              </div>
              <div slot="footer" class="dialog-footer">
                <div class="btn-submit">
                  <el-button @click="dialogFormVisible = false"
                    >取消</el-button
                  >
                </div>
              </div>
            </el-dialog>
            <el-dialog
              title="导入地震数据"
              :visible.sync="dialogFormVisibleearth"
              width="80%"
            >
              <div class="container">
                <Quake :directory="directory" />
              </div>

              <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible = false"
                  >确定</el-button
                >
              </div>
            </el-dialog>
            <el-dialog
              title="导入智能建模数据"
              :visible.sync="dialogFormShow"
              width="80%"
            >
              <div class="containerModell">
                <Intelligent :directory="modellcomponent" />
              </div>
              <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormShow = false">取消</el-button>
              </div>
            </el-dialog>
          </div>
        </el-aside>
        <el-container>
          <el-main>Main</el-main>
          <el-footer>Footer</el-footer>
        </el-container>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import Quake from "./Quake.vue";
import Well from "./Well.vue";
import Intelligent from "./Intelligent.vue";
import Tree from "./Tree.vue";
const axios = require("axios");
export default {
  components: {
    Quake,
    Well,
    Intelligent,
    Tree,
  },
  data() {
    return {
      treecomponent: "",
      modellcomponent: "",
      wellcomponent: "",
      axisline: "",
      index: null,
      rule: "",
      modellings: [],
      logtext: "",
      lineArray: "",
      xcoordnum: "",
      ycoordnum: "",
      startnum: "",
      stopnum: "",
      uid: "",
      wellName: "",
      depth: "",
      filetext: "",
      fileContent: "",
      file: null,
      isCollapse: true,
      nodeData: {},
      menuVisible: false,
      dialogFormVisible: false,
      dialogFormShow: false,
      dialogFormVisibleearth: false,
      handel: false,
      handelwell: false,
      handelaxis: false,
      input: "",
      formLabelWidth: "120px",
      fileData: "",
      fileList: [],
      uploadData: {
        fileIdData: {
          id: "",
        },
      },
      directory: "",
      tableData: [
        {
          id: 0,
          loglist: "1",
          logstyle: "AC",
          logname: "AC",
          unit: ".us/m",
        },
      ],
      tableDataAxis: [
        {
          id: 0,
          firstaxis: "x",
          secondaxis: "y",
          thirdaxis: "z",
        },
      ],
      rowNum: 1,
      scope: "",
      showInput: "",
      showInputWell: "",
      showInputAxis: "",
      oldData: {},
      oldDataWell: {},
      oldDataAxis: {},
      tablearr: "",
      loglistitem: "",
      logstyleitem: "",
      lognameitem: "",
      unititem: "",
      logarr: "",
      logarritem: "",
      wellarr: "",
      indexwell: "",
      welllist: "",
      axisarr: "",
      indexaxis: "",
      axisfirst: "",
      axissecond: "",
      axisthird: "",
      axisName: "",
      wellFileContent: "",
      FileUploadList: [],
      FileList: [],
      uidArray: [],
      wellNameArray: [],
      lineArrayGroup: [],
      lasArray: [],
      filestrArray: [],
      tableDataList: [
        {
          id: 0,
          wellrule: "截至深度",
          rulecontent: "XCOORD",
        },
      ],
    };
  },

  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
    creat() {
      this.$prompt("请输入文件名", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
      });
    },
    change() {
      this.$prompt("请输入要修改的文件名", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
      });
    },
    del() {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    beforeRemove(file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`);
    },

    //跳转binary界面
    handleClick() {
      this.$router.push({
        path: "/binary",
      });
    },
    //跳转draw界面
    handleDraw() {
      this.$router.push({
        path: "/draw",
      });
    },
    handleParams() {
      this.dialogFormVisibleearth = true;
      console.log(this.data);
      this.directory =
        this.data[0].label +
        "/" +
        this.data[0].children[0].label +
        "/" +
        this.data[0].children[0].children[0].label;
      console.log(this.directory);
    },
    handleLeadWell() {
      this.dialogFormVisible = true;
      this.directory =
        this.data[0].label +
        "/" +
        this.data[0].children[0].label +
        "/" +
        this.data[0].children[0].children[0].label;
    },
    handleLeadModell() {
      this.dialogFormShow = true;
      this.directory =
        this.data[0].label +
        "/" +
        this.data[0].children[0].label +
        "/" +
        this.data[0].children[0].children[0].label;
    },
    treeAdd() {
      alert(this.nodeData);
    },
    treeRemove() {
      this.menuVisible = true;
    },
  },
  
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}
.el-header,
.el-footer {
  background-color: #f2f6fc;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #ffffff;
  color: #333;
  text-align: center;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
  height: 800px;
}
.el-button {
  width: 100px;
  height: 50px;
  margin-left: 0px;
  border-radius: 0;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside {
  height: 100%;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 299px;
  height: 820px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.container {
  width: 100%;
  height: 400px;
  display: flex;
}
.containerWell {
  width: 100%;
  display: flex;
}
.right-mouse {
  height: 300px;
}
.text {
  height: 50px;
}
</style>