<template>
  <div>
    <el-upload
      class="upload-demo"
      ref="upload"
      action="https://jsonplaceholder.typicode.com/posts/"
      :on-preview="handleChoice"
      :on-remove="handleRemove"
      :file-list="fileList"
      :auto-upload="false"
      :multiple="true"
    >
      <el-button slot="trigger" size="small" type="primary" class="btn-Chioce"
        >选取文件</el-button
      >
    </el-upload>
    <div id="modelling">
      <pre ref="modelling" id="modelling"></pre>
    </div>
    <div class="axis">
      <el-table
        :data="tableDataAxis"
        style="width: 100%"
        class="tableAxis"
        @cell-dblclick="tableDbEditAxis"
        ref="tableaxis"
      >
        <el-table-column label="第1列坐标" width="85" prop="firstaxis">
          <template slot-scope="scope">
            <el-input
              size="small"
              v-model="scope.row.firstaxis"
              v-if="showInputAxis == `firstaxis${scope.row.id}`"
              @blur="
                blurInputAxis(scope.row.id, 'firstaxis', scope.row.firstaxis)
              "
              v-focus
            >
            </el-input>
            <p v-else>{{ scope.row.firstaxis }}</p>
          </template>
        </el-table-column>
        <el-table-column label="第2列坐标" width="85" prop="secondaxis">
          <template slot-scope="scope">
            <el-input
              size="small"
              v-model="scope.row.secondaxis"
              v-if="showInputAxis == `secondaxis${scope.row.id}`"
              @blur="
                blurInputAxis(scope.row.id, 'secondaxis', scope.row.secondaxis)
              "
              v-focus
            >
            </el-input>
            <p v-else>{{ scope.row.secondaxis }}</p>
          </template>
        </el-table-column>
        <el-table-column label="第3列坐标" width="85" prop="thirdaxis">
          <template slot-scope="scope">
            <el-input
              size="small"
              v-model="scope.row.thirdaxis"
              v-if="showInputAxis == `thirdaxis${scope.row.id}`"
              @blur="
                blurInputAxis(scope.row.id, 'thirdaxis', scope.row.thirdaxis)
              "
              v-focus
            >
            </el-input>
            <p v-else>{{ scope.row.thirdaxis }}</p>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button
              class="btn-axis"
              size="mini"
              type="danger"
              @click="handleDelAxis(scope.$index, scope.row)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <el-button
        class="btn-add"
        size="mini"
        type="primary"
        @click="handleAddAxis"
        >添加</el-button
      >
    </div>
    <el-button class="btn-upload1" type="primary" @click="btnsubmitUpload" :plain="true"
      >上传文件</el-button
    >
    <el-dialog
      class="delDialog"
      title="提示"
      :visible.sync="handelaxis"
      width="20%"
      :before-close="(handleClose = true)"
      :append-to-body="true"
    >
      <template slot-scope="scope">
        <span>确定要删除吗？</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="handleCancel" class="btn-del">取 消</el-button>
          <el-button
            type="primary"
            @click="handleDeleteAxis(scope)"
            class="btn-del"
            >确 定</el-button
          >
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: ["modellcomponent"],
  data() {
    return {
      axisline: "",
      index: null,
      modellings: [],
      uid: "",
      wellName: "",
      depth: "",
      file: null,
      handelaxis: false,
      fileList: [],
      // directory: "",
      tableDataAxis: [
        {
          id: 0,
          firstaxis: "x",
          secondaxis: "y",
          thirdaxis: "z",
        },
      ],
      scope: "",
      showInputAxis: "",
      oldDataAxis: {},
      axisarr: "",
      indexaxis: "",
      axisfirst: "",
      axissecond: "",
      axisthird: "",
      axisName: "",
      lasArray: [],
    };
  },
  directives: {
    // 通过自定义指令实现的表单自动获得光标的操作
    focus: {
      inserted: function (el) {
        el.focus();
      },
    },
    focusTextarea: {
      inserted: function (el) {
        el.focus();
      },
    },
  },
  methods: {
    //智能建模数据编辑
    async blurInputAxis(id, name, value) {
      let objlistaxis = {};
      // 判断数据是否有所改变，如果数据有改变则调用修改接口
      if (this.oldDataAxis[name] != value) {
        objlistaxis[name] = value; //被改变的数据
        // 然后再写调用接口，提交内容的东西就可以了
      }
      this.showInputAxis = "";
    },
    tableDbEditAxis(row, column, event) {
      this.showInputAxis = column.property + row.id;
      this.oldDataAxis[column.property] = row[column.property];
    },
    //增加坐标列表
    handleAddAxis(index, row) {
      var formaxis = {
        id: 0,
        firstaxis: "x",
        secondaxis: "y",
        thirdaxis: "z",
      };
      this.tableDataAxis.push(formaxis);
    },
    //删除坐标列表
    handleDeleteAxis(e) {
      this.handelaxis = false;
      this.tableDataAxis.splice(this.indexaxis, 1);
    },
    handleDelAxis(e) {
      console.log(e);
      this.handelaxis = true;
      this.indexaxis = e;
    },
    handleCancel(e){
      this.handelaxis=false
    },
    //建模文件读取
    handleChoice(file) {
      let reader = new FileReader();
      if (typeof FileReader === "undefined") {
        this.$message({
          type: "info",
          message: "您的浏览器不支持文件读取。",
        });
        return;
      }
      reader.readAsArrayBuffer(file.raw);
      var that = this;
      reader.onload = function (e) {
        var ints = new Uint8Array(e.target.result);
        let modellingdata = new TextDecoder("gb2312").decode(ints);
        that.uid = file.uid;
        console.log(that.uid);
        that.axisName = file.name;
        console.log(that.axisName);
        var modelling;
        modelling = that.$refs.modelling;
        modelling.innerHTML = modellingdata;
        that.modellingtxt = modelling.innerHTML;
        that.modellings = that.modellingtxt;
        console.log(that.modellings);
      };
    },

    //上传智能建模数据
    btnsubmitUpload() {
      console.log(this.tableDataAxis);
      this.axisarr = this.tableDataAxis;
      console.log(this.modellings);
      this.axisline = this.modellings.trim().split("\n");
      console.log(this.axisline);
      var axisArray = [];
      for (var i = 0; i < this.tableDataAxis.length; i++) {
        this.axisfirst = this.tableDataAxis[i].firstaxis;
        this.axissecond = this.tableDataAxis[i].secondaxis;
        this.axisthird = this.tableDataAxis[i].thirdaxis;
      }
      let model = {
        fileName: this.axisName,
        line1: this.axisfirst,
        line2: this.axissecond,
        line3: this.axisthird,
        data: this.axisline,
      };
      axios
        .post(
          "http://192.168.31.183:8080/model/insert",
          model,
          { timeout: 80000 },
          { headers: { "Content-Type": "application/json;charset=UTF-8" } }
        )
        .then((res) => {
          console.log(res);
          if (res.data.flag == true) {
            this.$message({
              message: "上传成功",
              type: "success",
            });
          } else {
            this.$message({
              message: "该文件已上传，请修改文件名后再上传",
              type: "warning",
            });
          }
        })
        .catch((res)=>{
          console.log(res);
          this.$message.error("上传失败");
        })
        
    },
    handleClose(key, keyPath) {
      this.handleClose = true;
    },
    handleRemove(file, fileList) {},
  },
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}
.el-header,
.el-footer {
  background-color: #f2f6fc;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #ffffff;
  color: #333;
  text-align: center;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
  height: 800px;
}
.el-button {
  width: 100px;
  height: 50px;
  margin-left: 0px;
  border-radius: 0;
}
body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside {
  height: 100%;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 299px;
  height: 820px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.axis {
  position: absolute;
  width: 380px;
  height: 300px;
  border: 1px solid black;
  left: 1130px;
  top: 85px;
}
.tableAxis {
  overflow: scroll;
  height: 100%;
}
.btn-addaxis {
  position: absolute;
  width: 50px;
  height: 30px;
  left: 300px;
}
.btn-axis {
  width: 50px;
  height: 30px;
}
#modelling {
  width: 700px;
  height: 700px;
  border: 1px solid black;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.upload-demo {
  position: absolute;
  width: 300px;
  font-size: 14px;
}
.btn-upload1 {
  position: absolute;
  top: 820px;
  left: 67%;
}
.delDialog {
  margin-top: 200px;
}
.btn-del {
  width: 50px;
  height: 30px;
}
.btn-add {
  width: 50px;
  height: 30px;
  /* margin-top: 130px; */
  margin-left: 200px;
}
</style>