<template>
  <div class="box-passage">
    <canvas ref="canvasPassage" id="canvasPassage"></canvas>
    <el-button
      class="btn-keep"
      type="primary"
      style="font-size: 12px"
      @click="onSubmitKeepPass"
    >
      保存参数
    </el-button>
  </div>
</template>

<script>
export default {
  props: [
    "directory",
    "minDeep",
    "maxDeep",
    "color",
    "width",
    "passAgeValue",
  ],
  data() {
    return {
      isShow: false,
      PassColor: "#cd8888",
    };
  },
  mounted() {
    this.showPassLine = this.showPass;
  },
  methods: {
    canvasDrawCol(optype) {},
    onSubmitKeepPass() {
      if (this.passAgeValue == "实线") {
        console.log(this.passAgeValue);
        console.log(this.width);
        this.showPass = true;
        this.PassColor = this.color;
        if (this.showPass) {
          this.canvasDrawCol(this.color);
          var myCanvas = this.$refs.canvasPassage;
          var canvasSetPassage = myCanvas.getContext("2d");
          myCanvas.width = 1920;
          myCanvas.height = 500;
          myCanvas.style.border = "1px solid #000";
          canvasSetPassage.beginPath();
          canvasSetPassage.moveTo(0, 0);
          //实现曲线
          canvasSetPassage.quadraticCurveTo(
            2800,
            ((1000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000,
            3000,
            this.maxDeep
          );
          canvasSetPassage.strokeStyle = this.PassColor;
          canvasSetPassage.lineWidth = this.width;
          canvasSetPassage.stroke();
        }
      } else {
        //绘制虚线
        console.log(this.width);
        this.showPass = true;
        this.PassColor = this.color;
        if (this.showPass) {
          this.canvasDrawCol(this.color);
          var myCanvas = this.$refs.canvasPassage;
          var canvasSetPassage = myCanvas.getContext("2d");
          myCanvas.width = 1920;
          myCanvas.height = 500;
          myCanvas.style.border = "1px solid #000";
          canvasSetPassage.beginPath();
          canvasSetPassage.setLineDash([10, 8]);
          canvasSetPassage.moveTo(0, 0);
          //实现曲线
          canvasSetPassage.quadraticCurveTo(
            2800,
            ((1000 - this.minDeep) / (this.maxDeep - this.minDeep)) * 1000,
            3000,
            this.maxDeep
          );
          canvasSetPassage.strokeStyle = this.PassColor;
          canvasSetPassage.lineWidth = this.width;
          canvasSetPassage.stroke();
        }
      }
    },
    updated() {
    console.log(this.color);
    this.PassColor = this.color;
    console.log(this.PassColor);
    this.canvasDrawCol(this.color);
  },
  },
};
</script>

<style>
#canvasPassage {
  position: absolute;
  width: 70%;
  height: 500px;
  top: 290px;
  left: 580px;
}
</style>