<template>
  <div class="container">
    <div class="con-left">
      <div class="con-left-top">
        <form id="form">
          <input style="margin-bottom:20px" type="file" id="files" ref="upload" action="https://jsonplaceholder.typicode.com/posts/">
          <!-- <el-button  size="small" type="primary" @click="UploadFile">点击上传</el-button> -->
        <!-- </input> -->
        <label for="startTimereOrDepth">startTimereOrDepth</label>
        <input type="text" v-model="dataList.startTimeOrDepth" style="border:1px solid #000;font-size:12px" placeholder="设置startTimereOrDepth">
        </form>
      </div>
      <div class="con-left-bottom">
     <table class="con-table" width="338" border="3">
        <th>
          <td>inLine</td>
          <td>offset</td>
          <!-- <td>startTimereOrDepth</td> -->
          <td>vearly</td>
          <td>xline</td>
          <td>xsource</td>  
          <td>ysource</td>
        </th>
         <tr>
          <td><input type="text" v-model="dataList.inLine"></td>
          <td><input type="text" v-model="dataList.offset"></td>
          <td><input type="text" v-model="dataList.vearly"></td>
          <td><input type="text" v-model="dataList.xLine"></td>
          <td><input type="text" v-model="dataList.xSource"></td>
          <td><input type="text" v-model="dataList.ySource"></td>
        </tr>

    </table>
    <el-button @click="submitMsg">确认修改</el-button>
      </div>
    </div>
    <!-- con-left -->
    <div class="con-con">
      <div class="con-con-top">
         <el-button type="primary" @click="isShowBinary()">显示二进制</el-button>
      </div>
      <div class="con-con-bottom" :style="{ 'display':isBinary ? 'block':'none'}">
 <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
    <el-tab-pane label="用户管理" name="first">测线信息</el-tab-pane>
    <el-tab-pane label="配置管理" name="second">
      <div class="avenue-con">
          <div class="avenue-con-header">
           <div class="byte-info">
              <label for="字节">字节：</label>
            <select v-model="selected" name="byte" id="byte">
               <option v-for="(byteData,index) in byteDatas" :key="index" :value="byteData">{{byteData}}</option>
               <!-- <option value="1">8</option> -->
            </select>
           </div>
              <div class="avenue-info">
              <label for="字节" class="avenue-count">道数量：</label>
        <el-input-number class="avenue-num" v-model="num" controls-position="right"  :min="1" :max="10" size="small"></el-input-number>

          </div>
             <div class="avenue-info">
              <label for="字节" class="avenue-number">道号：{{avenueCounts}}</label>
           </div>
          </div>
          <!-- avenue-con-bottom -->
          <div class="avenue-con-bottom">
            <ul>
              <li>1</li>
              <li>1(道一头)</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
              <ul>
              <li>2</li>
              <li>字节[1-20]</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
              <ul>
              <li>3</li>
              <li>字节[1-20]</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
              <ul>
              <li>4</li>
              <li>字节[1-20]</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
              <ul>
              <li>5</li>
              <li>字节[1-20]</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
              <ul>
              <li>6</li>
              <li>字节[1-20]</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
              <ul>
              <li>7</li>
              <li>字节[1-20]</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
              <ul>
              <li>8</li>
              <li>字节[1-20]</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
            </ul>
          </div>
           <el-button class="avenue-submit" @click="avenueCommit">提交</el-button>
      </div>
    </el-tab-pane>
    <el-tab-pane label="角色管理" name="third">数据信息</el-tab-pane>
  </el-tabs>
      </div>
    </div>
    <!-- con-con -->
    <div class="con-right">
     <div class="con-right-top">
             <el-button type="primary" @click="isDrawLines()">扫描测网</el-button>
        </div>
     <div class="con-right-bottom" :style="{ 'display':isDraw ? 'block':'none'}">
           <div class="con-right-draw">
              <div ref="zrender" id="zrender" class="zrender"></div>
           </div>
           <div class="con-right-lines">
             <ul>
               <li></li>
               <li>Xline</li>
               <li>Inline</li>
                <li>X</li>
               <li>Y</li>
             </ul>
              <ul>
               <li>P1</li>  
               <li>5625</li>
               <li>I5625</li>
               <li>5625</li>
                <li>5625</li>
             </ul>
              <ul>
               <li>P2</li>
               <li>5625</li>
               <li>I5625</li>
               <li>5625</li>
               <li>5625</li>
             </ul>
              <ul>
               <li>P3</li>
               <li>12313</li>
               <li>12313</li>
               <li>X234</li>
               <li>Y324</li>
             </ul>
           </div>
      </div>
    </div>
  </div>
</template>

<script>
// import func from 'vue-editor-bridge';
import axios from "axios";
import * as zrender from "zrender";
// import func from 'vue-editor-bridge';
export default {
  props: ["directory"],
  data() {
    return {
      activeName: "first",
      num: 1,
      isBinary: false,
      isDraw: false,
      dataList: {
        inLine: null,
        offset: null,
        startTimeOrDepth: null,
        vearly: null,
        xLine: null,
        xSource: null,
        ySource: null,
        fileName: null,
      },
      byteDatas: [4, 8],
      selected: null,
      avenueCounts: "1",
      //   byteData:"",
    };
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    },
    zRenderInit() {
      let dom = this.$refs.zrender;
      this.zr = zrender.init(dom);
      this.group = new zrender.Group();
      this.drawTrochoid();
      this.zr.add(this.group);
    },
    /** 绘制函数 */
    drawTrochoid() {
      let option = {
        shape: {
          cx: 160,
          cy: 120,
          r: 40,
          r0: 35,
          d: 50,
          n: "out",
        },
        style: {
          fill: "transparent", // 填充颜色，默认#000
          stroke: "#000", // 描边颜色，默认null
          lineWidth: 2, // 线宽， 默认1
          text: "外旋轮曲线",
          fontSize: "25",
          textFill: "red",
        },
        hoverable: true, // default true
        draggable: true,
      };
      // 外旋轮线
      let TrochoidShape = new zrender.Trochoid(option);
      // 添加外旋轮线到group里
      this.group.add(TrochoidShape);
    },
    isShowBinary() {
      this.isBinary = !this.isBinary;
    },
    isDrawLines() {
      this.isDraw = !this.isDraw;
    },
    submitMsg() {
      // console.log(this.dataList.startTimeOrDepth);
      // let param = new URLsearchParams();
      // param.append('inLine',this.dataList.inLine);
      // param.append('XLine',this.dataList.xline);
      // param.append('xSource',this.dataList.xsource);
      // param.append('ySource',this.dataList.ysource);
      // param.append('vearly',this.dataList.vearly);
      // param.append('offset',this.dataList.offset);
      // param.append('startTimeOrDepth',this.dataList.startTimeOrDepth);
      // param.append('fileId',this.fileId);
      console.log(this.dataList.inLine);
      var param = {
        inLine: this.dataList.inLine,
        XLine: this.dataList.xLine,
        xSource: this.dataList.xSource,
        ySource: this.dataList.ySource,
        vearly: this.dataList.vearly,
        offset: this.dataList.offset,
        startTimeOrDepth: this.dataList.startTimeOrDepth,
        fileName: this.fileName,
      };
      axios.post("file/setPositionTable", param).then((res) => {
        console.log(res);
        if (res.data.code == 200) {
          alert("修改成功！");
        }
      });
    },

    avenueCommit() {
      //   console.log(data);
      var that = this;
      axios
        .get("/file/getByteTable", {
          params: {
            traceNumber: that.num,
            traceId: that.avenueCounts,
            dataType: that.selected,
            fileName:that.fileName
          },
        })
        .then((res) => {
          console.log(res);
        });
    },
  },
  mounted() {
    var that = this;
    console.log(that.directory);
    var path = JSON.stringify(that.directory);
    this.zRenderInit();
    var that = this;
    var file = document.getElementById("files");
    file.onchange = function () {
      console.log([this][0].value);
      var formData = new FormData();
      console.log(this);
      console.log(this.files[0]);
      formData.append("file", this.files[0]);
      formData.append("path", path);
      // formData.append('attrName',this[0])
      // console.log(this.files[0]);
      this.formDataFile = formData;

      // console.log(this.for);
      // var xhr = new XMLHttpRequest();
      // xhr.open('post','http://localhost:3000/upload');
      // xhr.send(formData);
      // xhr.onreadystatechange = function(){
      //   if(xhr.status ==200){
      //     console.log(xhr.responseText);
      //     // alert("123")
      //     // that.UploadFile();
      //   }
      // }
      console.log(formData);
      // axios.post('api/upload',formData).then((res)=>{
      //   console.log(res);
      // })
      console.log(that.directory);
      axios
        .post(
          "file/updataLoadSgyFile",
          // "/api/upload",
          formData
        )
        .then((res) => {
          console.log(res);
          if (res.data.code !== 200) {
            alert("上传失败，请重新操作");
          } else {
            alert("上传成功！");
            console.log(res.data.defultData);
            that.dataList = res.data.defultData;
            that.fileName = res.data.fileName;
            // console.log(that.dataList.fileId);
            // var data = [];
            // for (var i in that.dataList) {
            //   data.push(that.dataList[i]);
            //   // console.log(data);
            // }
            // // console.log(data);
            // var data1 = data.slice(1, 5);
            // var data2 = data.slice(6);
            // // console.log(data1);
            // // console.log(data2);
            // that.dataList = data1.concat(data2);
            // console.log(that.dataList);
          }
        });
    };
  },
  // updated() {},
};
</script>

<style scoped>
.container {
  /* padding:100%; */
  /* margin: 0 20px; */
  width: 1140px;
  height: 400px;
  background: #fff;
}
.con-left {
  /* display: flex; */
  flex-direction: column;
  width: 400px;
  height: 100%;
  /* background: brown; */
}
.con-left-top,
.con-right-top,
.con-con-top {
  width: 400px;
  height: 50px;
  /* background: pink; */
}
#files {
  display: block;
  width: 200px;
  height: 50px;
  background: #3a8ee6;
  color: white;
  font-size: 16px;
  text-align: center;
  line-height: 44px;
  border-radius: 4px;
  cursor: pointer;
}
.con-left-bottom {
  padding-top: 120px;
  width: 400px;
  height: 350px;
  /* background: skyblue; */
}
.con-table td {
  /* display: inline-block; */
  text-align: center;
  line-height: 40px;
  float: left;
  width: 58px;
  height: 40px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.con-table td input {
  width: 100%;
  text-align: center;
}
.con-table td:first-child {
  width: 40px;
  height: 40px;
}
.select_ipt {
  /* padding-left: 5px; */
  background: #fff;
  width: 100%;
  height: 40px;
  font-size: 15px;
  /* transform: scale(0.8); */
}
.con-con {
  width: 400px;
  height: 400px;
  /* background: pink; */
}
/* .con-con-top {
  width: 400px;
  height: 50px;
  background: skyblue;
} */
.con-con-bottom {
  width: 400px;
  height: 350px;
  /* background: green; */
}
.avenue-con {
  width: 400px;
  height: 295px;
  /* background: greenyellow; */
}
.byte-info,
.avenue-info {
  float: left;
}
.avenue-info {
  position: relative;
  width: 150px;
  height: 50px;
}
.avenue-count {
  display: inline-block;
  float: left;
}
.avenue-num {
  position: absoulte;
  left: 40px;
  top: -40px;
  /* height: 40px; */
}
.avenue-con-header {
  width: 100%;
  height: 50px;
  /* background: pink; */
}
.avenue-submit {
  /* fl */
  position: absolute;
  /* right: -157px; */
  /* top: -50px; */
  top: 18px;
  right: 0;
  width: 80px;
  height: 32px;
  line-height: 0;
}
.avenue-con-bottom {
  width: 100%;
  height: 245px;
  /* background: burlywood; */
}
.avenue-con-bottom li {
  display: inline-block;
  line-height: 30px;
  float: left;
  width: 65px;
  height: 30px;
  background: #fff;
  border: 1px solid #000;
  font-size: 10px;
}
.avenue-con-bottom li:first-child {
  width: 10px;
  text-align: left;
}
.con-right {
  width: 340px;
  height: 400px;
  /* background: lightblue; */
}
.con-right-top {
  width: 340px;
}
.con-right-bottom {
  width: 340px;
  height: 350px;
  /* background: salmon; */
}
.con-right-draw {
  width: 100%;
  height: 245px;
  /* background: seagreen; */
}
.con-right-lines {
  width: 100%;
  height: 105px;
  /* background: slategray; */
}
.con-right-lines li {
  float: left;
  width: 77px;
  height: 26px;
  /* background: tomato; */
  line-height: 26px;
}
.con-right-lines li:first-child {
  width: 30px;
}
.zrender {
  width: 340px;
  height: 245px;
  /* background: lemonchiffon; */
}
</style>