<template>
  <div class="block">
    <el-tree
      ref="tree"
      :data="data"
      node-key="id"
      default-expand-all
      :expand-on-click-node="false"
      @node-contextmenu="rightClick"
      @node-click="goPageRouter"
    >
      <span class="custom-tree-node" slot-scope="{ node }">
        <span> {{ node.label }}</span>
      </span>
    </el-tree>
  </div>
</template>

<script>
import axios from "axios";
import Contain from "./Contain.vue";
export default {
  components: {
    Contain,
  },
  props: ["treecomponent"],
  data() {
    return {
      node:{},
      menuVisible: false,
      data: [
        {
          id: 1,
          icon: "el-icon-delete",
          label: "project",
          children: [
            {
              id: 2,
              label: "survey",
              children: [
                {
                  id: 4,
                  icon: "el-icon-info",
                  label: "三级 1-1-1",
                },
                {
                  id: 5,
                  label: "三级 1-1-2",
                },
              ],
            },
            {
              id: 3,
              label: "well",
              children: [
                {
                  id: 6,
                  label: "三级1-1-3",
                },
              ],
            },
          ],
        },
        {
          id: 7,
          icon: "el-icon-delete",
          label: "质控",
        },
        {
          id: 8,
          icon: "el-icon-delete",
          label: "处理",
        },
        {
          id: 9,
          icon: "el-icon-delete",
          label: "解释",
          children: [
            {
              id: 10,
              label: "桥式标定与初步质控",
            },
            {
              id: 11,
              label: "成像及优化",
            },
          ],
        },
      ],
    };
  },
  methods: {
    rightClick(MouseEvent, object, Node, element) {
      this.nodeData = Node;
      this.menuVisible = true;
      let menu = document.querySelector("#menu");
      menu.style.cssText =
        "position: fixed; left: " +
        (MouseEvent.clientX - 10) +
        "px" +
        "; top: " +
        (MouseEvent.clientY - 25) +
        "px; z-index: 999; cursor:pointer;";
    },
    treeAdd() {
      alert(this.nodeData);
    },
    treeRemove() {
      this.menuVisible = true;
    },
    goPageRouter(data) {
      console.log(data);
      if(data.id==10){
          this.$router.push('/contain')
      }
    },
  },
};
</script>

<style scoped>
</style>