<template>
  <div class="import-data">
    <div class="import-left">
      <div class="all-file">
        <div class="choice-file">
          <el-upload
            class="upload-demo"
            ref="upload"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :file-list="fileList"
            :auto-upload="false"
            :http-request="uploadFile"
          >
            <el-button
              slot="trigger"
              size="small"
              type="primary"
              class="btn-choice"
              >选取文件12</el-button
            >
          </el-upload>
        </div>
        <div id="file">ss
          <pre ref="filecontent" id="file-content"></pre>
        </div>
      </div>
    </div>
    <div class="import-right">
      <div class="all-well">
        <div class="well-head">
          <el-table
            :data="tableDataList"
            style="width: 100%"
            @cell-dblclick="tableDbEditWell"
            ref="tablewell"
          >
            <el-table-column label="井头规则名" width="150" prop="wellrule">
              <template slot-scope="scope">
                <el-input
                  size="small"
                  v-model="scope.row.wellrule"
                  v-if="showInputWell == `wellrule${scope.row.id}`"
                  @blur="
                    blurInputWell(scope.row.id, 'wellrule', scope.row.wellrule)
                  "
                  v-focus
                >
                </el-input>
                <p v-else>{{ scope.row.wellrule }}</p>
              </template>
            </el-table-column>
            <el-table-column label="具体规则" width="140" prop="rulecontent">
              <template slot-scope="scope">
                <el-input
                  size="small"
                  v-model="scope.row.rulecontent"
                  v-if="showInputWell == `rulecontent${scope.row.id}`"
                  @blur="
                    blurInputWell(
                      scope.row.id,
                      'rulecontent',
                      scope.row.rulecontent
                    )
                  "
                  v-focus
                >
                </el-input>
                <p v-else>{{ scope.row.rulecontent }}</p>
              </template>
            </el-table-column>
            <el-table-column label="" width="50"> </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  class="btn-head"
                  size="mini"
                  type="danger"
                  @click="handleWell(scope.$index)"
                  >删除</el-button
                >
              </template>
            </el-table-column>
          </el-table>
        </div>
        <el-button
          class="btn-add"
          size="mini"
          type="primary"
          @click="handleAddWell"
          >添加</el-button
        >
        <div class="well-log">
          <el-table :data="tableData" ref="table" @cell-dblclick="tableDbEdit">
            <el-table-column prop="loglist" label="列数" width="85">
              <template slot-scope="scope">
                <el-input
                  size="small"
                  v-model="scope.row.loglist"
                  v-if="showInput == `loglist${scope.row.id}`"
                  @blur="blurInput(scope.row.id, 'loglist', scope.row.loglist)"
                  v-focus
                >
                </el-input>
                <p v-else>{{ scope.row.loglist }}</p>
              </template>
            </el-table-column>
            <el-table-column prop="logstyle" label="log类型" width="85">
              <template slot-scope="scope">
                <el-input
                  size="small"
                  v-model="scope.row.logstyle"
                  v-if="showInput == `logstyle${scope.row.id}`"
                  @blur="
                    blurInput(scope.row.id, 'logstyle', scope.row.logstyle)
                  "
                  v-focus
                >
                </el-input>
                <p v-else>{{ scope.row.logstyle }}</p>
              </template>
            </el-table-column>
            <el-table-column prop="logname" label="别名" width="85">
              <template slot-scope="scope">
                <el-input
                  size="small"
                  v-model="scope.row.logname"
                  v-if="showInput == `logname${scope.row.id}`"
                  @blur="blurInput(scope.row.id, 'logname', scope.row.logname)"
                  v-focus
                ></el-input>
                <p v-else>{{ scope.row.logname }}</p>
              </template>
            </el-table-column>
            <el-table-column prop="unit" label="单位" width="85">
              <template slot-scope="scope">
                <el-input
                  size="small"
                  v-model="scope.row.unit"
                  v-if="showInput == `unit${scope.row.id}`"
                  @blur="blurInput(scope.row.id, 'unit', scope.row.unit)"
                  v-focus
                ></el-input>
                <p v-else>{{ scope.row.unit }}</p>
              </template>
            </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  class="btn-operate"
                  size="mini"
                  type="danger"
                  @click="handleDel(scope.$index)"
                  >删除</el-button
                >
              </template>
            </el-table-column>
          </el-table>
        </div>
        <el-button class="btn-add" size="mini" type="primary" @click="handleAdd"
          >添加</el-button
        >
        <div class="btn-handle">
          <el-button class="btn-upload" type="primary" @click="handleAnalysis" :plain="true"
            >上传文件</el-button
          >
        </div>
      </div>
    </div>
    <el-dialog
      class="delDialog"
      title="提示"
      :visible.sync="handel"
      width="20%"
      :before-close="handleClose"
      :append-to-body="true"
    >
      <template slot-scope="scope">
        <span>确定要删除吗？</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="handledelwell" class="btn-del">取 消</el-button>
          <el-button type="primary" @click="handleDelete(scope)" class="btn-del"
            >确 定</el-button
          >
        </span>
      </template>
    </el-dialog>
    <el-dialog
      class="delDialog"
      title="提示"
      :visible.sync="handelwell"
      width="20%"
      :before-close="(handleClose = true)"
      :append-to-body="true"
    >
      <template slot-scope="scope">
        <span>确定要删除吗？</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="handledellog" class="btn-del">取 消</el-button>
          <el-button
            type="primary"
            @click="handleDeleteWell(scope)"
            class="btn-del"
            >确 定</el-button
          >
        </span>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: ["wellcomponent"],
  data() {
    return {
      index: null,
      lineArray: "",
      uid: "",
      wellName: "",
      depth: "",
      filetext: "",
      fileContent: "",
      file: null,
      handel: false,
      handelwell: false,
      fileData: "",
      fileList: [],
      uploadData: {
        fileIdData: {
          id: "",
        },
      },
      directory: "",
      tableData: [
        {
          id: 0,
          loglist: "1",
          logstyle: "AC",
          logname: "AC",
          unit: ".us/m",
        },
      ],
      scope: "",
      showInput: "",
      showInputWell: "",
      oldData: {},
      oldDataWell: {},
      loglistitem: "",
      logstyleitem: "",
      lognameitem: "",
      unititem: "",
      logarr: "",
      wellarr: "",
      indexwell: "",
      welllist: "",
      wellFileContent: "",
      FileUploadList: [],
      FileList: [],
      uidArray: [],
      wellNameArray: [],
      lineArrayGroup: [],
      lasArray: [],
      filestrArray: [],
      tableDataList: [
        {
          id: 0,
          wellrule: "截至深度",
          rulecontent: "XCOORD",
        },
      ],
    };
  },
  directives: {
    // 通过自定义指令实现的表单自动获得光标的操作
    focus: {
      inserted: function (el) {
        el.focus();
      },
    },
    focusTextarea: {
      inserted: function (el) {
        el.focus();
      },
    },
  },
  methods: {
    async blurInput(id, name, value) {
      let obj = {};
      // 判断数据是否有所改变，如果数据有改变则调用修改接口
      if (this.oldData[name] != value) {
        obj[name] = value; //被改变的数据
        // 然后再写调用接口，提交内容的东西就可以了
      }
      this.showInput = "";
    },
    tableDbEdit(row, column, event) {
      this.showInput = column.property + row.id;
      this.oldData[column.property] = row[column.property];
    },
    //上传文件
    uploadFile(file) {
      this.fileData.append("files", file.file);
    },
    submitUpload() {
      let fileData = this.uploadData.fileIdData;
    },
    //井头列表
    async blurInputWell(id, name, value) {
      let objlist = {};
      // 判断数据是否有所改变，如果数据有改变则调用修改接口
      if (this.oldData[name] != value) {
        objlist[name] = value; //被改变的数据
        // 然后再写调用接口，提交内容的东西就可以了
      }
      this.showInputWell = "";
    },
    tableDbEditWell(row, column, event) {
      this.showInputWell = column.property + row.id;
      this.oldDataWell[column.property] = row[column.property];
    },
    //添加井头列表
    handleAddWell(index, row) {
      var formwell = {
        id: 0,
        wellrule: "截至深度",
        rulecontent: "XCOORD",
      };

      this.tableDataList.push(formwell);
      this.wellarr = this.tableDataList;
      console.log(this.tableDataList);
      this.welllist = this.tableDataList;
    },
    //删除井头
    handleDeleteWell(e) {
      this.handelwell = false;
      this.tableDataList.splice(this.indexwell, 1);
    },
    handleWell(e) {
      this.handelwell = true;
      this.indexwell = e;
    },
    handledelwell(e) {
      this.handel = false;
    },
    //增加log列表
    handleAdd(index, row) {
      var form = {
        id: 0,
        loglist: "1",
        logstyle: "AC",
        logname: "AC",
        unit: ".us/m",
      };

      this.tableWellRule = this.tableData.push(form);
      this.logarr = this.tableWellRule;
    },
    //删除log列表
    handleDelete(e) {
      this.handel = false;
      this.tableData.splice(this.index, 1);
    },
    handleDel(e) {
      console.log(e);
      this.handel = true;
      this.index = e;
    },
    handledellog(e) {
      this.handelwell = false;
    },
    handleClose(key, keyPath) {
      this.handleClose = true;
    },
    handleRemove(file, fileList) {},
    //读取文件按钮
    handlePreview(file) {
      let reader = new FileReader();
      if (typeof FileReader === "undefined") {
        this.$message({
          type: "info",
          message: "您的浏览器不支持文件读取。",
        });
        return;
      }
      reader.readAsArrayBuffer(file.raw);
      var that = this;
      reader.onload = function (e) {
        var ints = new Uint8Array(e.target.result);
        let snippets = new TextDecoder("gb2312").decode(ints);
        that.uid = file.uid;
        that.wellName = file.name;
        var fileContent;
        fileContent = that.$refs.filecontent;
        that.$refs.filecontent.innerHTML = snippets;
        that.filetext = that.$refs.filecontent.innerHTML;
        that.FileList = that.FileUploadList.push(that.filetext);
        that.uidList = that.uidArray.push(that.uid);
        that.wellNameList = that.wellNameArray.push(that.wellName);
        that.filestr = that.FileUploadList.join(" ");
        that.wellFileContent = that.filetext;
        console.log(that.wellNameArray);
        var line = that.wellFileContent.split("\n");
        var linecontent = /ppp/;
        var answer = linecontent.test(that.wellFileContent);
        var lineothercontent = /SP-square/;
        var answer1 = lineothercontent.test(that.wellFileContent);
        //文件里没有php的获取数据
        if (answer == false && answer1 == false) {
          var lineArray = line.slice(44);
          that.lineArray = lineArray;
          console.log(that.lineArray);
        }

        //文件里有ppp的获取数据
        else if (answer1 == false && answer) {
          var lineArray = line.slice(45);
          that.lineArray = lineArray;
          console.log(that.lineArray);
        }
        //文件里有SP-square
        else if (answer1) {
          var lineArray = line.slice(46);
          that.lineArray = lineArray;
          console.log(that.lineArray);
        }
        that.lineArrayList = that.lineArrayGroup.push(that.lineArray);
      };
    },

    //上传文件按钮
    handleAnalysis() {
      var lasList = [];
      var lognewarr = [];
      console.log(this.uidArray);
      console.log(this.wellNameArray);
      for (var i = 0; i < this.tableData.length; i++) {
        this.loglistitem = this.tableData[i].loglist;
        this.logstyleitem = this.tableData[i].logstyle;
        this.lognameitem = this.tableData[i].logname;
        this.unititem = this.tableData[i].unit;
        this.loglistarr = this.loglistitem.split();
        this.logstylearr = this.logstyleitem.split();
        this.lognamearr = this.lognameitem.split();
        this.unitarr = this.unititem.split();
        this.logall = this.loglistarr
          .concat(this.logstylearr)
          .concat(this.lognamearr)
          .concat(this.unitarr);
        this.lognewarr = this.logall.join(" ");
        lognewarr.push(this.lognewarr);
      }
      console.log(lognewarr);
      var wellArray = [];
      for (var i = 0; i < this.tableDataList.length; i++) {
        this.rulecontentitem = this.tableDataList[i].rulecontent;
        wellArray.push(this.rulecontentitem);
      }
      this.wellstr = wellArray.join(" ");
      console.log(wellArray);
      for (var i = 0; i < this.FileUploadList.length; i++) {
        this.lasArray = lasList.push(
          this.FileUploadList[i].split("\n").splice(6, 20)
        );
      }
      console.log(lasList);
      let wellList = {
        id: this.uidArray,
        wellName: this.wellNameArray,
        // layer: [],
        // depth: [],
        header: lasList,
        headerLog: wellArray,
        log: lognewarr,
        // time: "",
        wellDataList: this.lineArrayGroup,
      };
      axios
        .post(
          "http://192.168.31.179:8080/ProductionSupport_war/logwell/setWellData",
          wellList,
          { timeout: 80000 },
          {
            headers: { "Content-Type": "application/json;charset=UTF-8" },
          }
        )
        .then((res) => {
          console.log(res);
          this.$message({
              message: "上传成功",
              type: "success",
            });
        })
        .catch((res)=>{
          console.log(res);
          this.$message.error("上传失败");
        })
    },
    updated() {
      this.fileContent = this.$refs.filecontent;
      console.log(this.fileContent);
      this.table = this.$refs.gridtable;
      console.log(this.table);
      this.modellingtxt = this.$refs.modelling;
      console.log(this.modellingtxt);
    },
  },
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}
.el-header,
.el-footer {
  background-color: #f2f6fc;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #ffffff;
  color: #333;
  text-align: center;
}

.el-main {
  background-color: #e9eef3;
  color: #333;
  text-align: center;
  height: 800px;
}
.el-button {
  width: 100px;
  height: 50px;
  margin-left: 0px;
  border-radius: 0;
}
body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside {
  height: 100%;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 299px;
  height: 820px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.btn-submit {
  width: 400px;
  height: 50px;
  margin-left: 68%;
}
.upload-demo {
  position: absolute;
  width: 300px;
  font-size: 14px;
}
.import-data {
  width: 95%;
  height: 600px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}
.import-left {
  width: 60%;
  height: 600px;
}
.all-file {
  width: 100%;
  height: 600px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.choice-file {
  width: 70%;
  height: 80px;
  display: flex;
}
.btn-choice {
  width: 100px;
  height: 40px;
}
#file {
  width: 100%;
  height: 520px;
}
#file-content {
  width: 100%;
  height: 450px;
  border: 1px solid black;
  margin-top: 68px;
  overflow: scroll;
}

.import-right {
  width: 40%;
  height: 600px;
  margin-left: 5%;
}
.all-well {
  width: 90%;
  height: 600px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.well-head {
  width: 100%;
  height: 290px;
  overflow: scroll;
  border: 1px solid black;
}
.well-log {
  width: 100%;
  height: 290px;
  margin-top: 20px;
  border: 1px solid black;
  overflow: scroll;
}
.btn-handle {
  width: 300px;
  height: 50px;
  margin-top: 40px;
  margin-left: -50px;
}
.btn-upload {
  position: absolute;
  left: 80%;
}
.btn-operate {
  width: 50px;
  height: 30px;
}
.btn-add {
  position: absolute;
  width: 50px;
  height: 30px;
  left: 95%;
}
.btn-del {
  width: 50px;
  height: 30px;
}
.btn-head {
  width: 50px;
  height: 30px;
}
.delDialog {
  margin-top: 200px;
}
</style>